
 * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 max-width:800px;
 }
 html, body {
 height: 100%;
 width: 100%;
 max-width:800px;
 }
body {
 background-image:url("https://img.freepik.com/free-vector/geometric-science-education-background-vector-gradient-blue-digital-remix_53876-125993.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 display: flex; /* Use Flexbox */
 justify-content: center; /* Center horizontally */
 align-items: center; /* Center vertically */
 height: 100vh; /* Ensure full viewport height */
 margin:0;
 max-width: 100%;
    max-height: 80vh;
    overflow-y: auto;
}
 .card-container {
 background-color: white;
 height: 65%;
 width: 30%;
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
 padding: 50px;
 text-align:center;
 max-width: 100%;
 max-height: 80vh;
 overflow-y: auto;
 }
 .p1head{
 text-align:center;
 color:#203c54;
 font-size:40px;
 margin-bottom:30px;
 font-weight:bold;
 max-width: 100%;
    max-height: 80vh;
    overflow-y: auto;
 }
 .input-field{
 background:#eaeaea;
 margin:15px 0;
 margin-bottom:15px;
 border-radius:3px;
 padding:10px;
 max-width: 100%;
    max-height: 80vh;
    overflow-y: auto;
 }
 input{
 background:transparent;
 border:0;
 outline:0;
 padding:10px 0px;
 width:100%;
 font-size:16px;
 max-width: 100%;
    max-height: 80vh;
    overflow-y: auto;
 }
 .input-field svg {
 margin-right: 10px; /* Add space between icon and input */
 max-width: 100%;
    max-height: 80vh;
    overflow-y: auto;
 }
 .p1para{
 color:#203c54;
 }
 .button{
 color:white;
border-color:white;
 background-color:#0c2b4a;
 border-radius:10px;
 height:50px;
 width:120px;
 font-size:20px;
 margin-top:15px;
 border-style:solid;
 max-width: 100%;
    max-height: 80vh;
    overflow-y: auto;
 }
 .button:hover {
 background-color:white;
 color:#0c2b4a;
 border-color:#0c2b4a;
 max-width: 100%;
    max-height: 80vh;
    overflow-y: auto;
 }
 .button1{
 margin-left:120px;
 max-width: 100%;
    max-height: 80vh;
    overflow-y: auto;
 }